<launch>
  <node name="apriltag0_broadcaster" pkg="tag_position" type="add_tag.py" respawn="false" output="screen" >
    <param name="ID" type="int" value="0" />
    <param name="position" type="string" value="0 0 0" />
  </node>
  <node name="apriltag1_broadcaster" pkg="tag_position" type="add_tag.py" respawn="false" output="screen" >
    <param name="ID" type="int" value="1" /> 
    <param name="position" type="string" value="0 0.0 0" />
  </node>
  <node name="apriltag2_broadcaster" pkg="tag_position" type="tag_pos" respawn="false" output="screen" >
    <param name="ID" type="int" value="2" /> 
    <param name="x" type="double" value="-0.5" />
    <param name="y" type="double" value="2.8" />
    <param name="theta" type="double" value="0.0" />
  </node>
  <node name="apriltag3_broadcaster" pkg="tag_position" type="moving_tag_pos" respawn="false" output="screen" >
    <param name="ID" type="int" value="3" /> 
    <param name="sub" type="string" value="amcl_pose" />
  </node>
</launch>
